<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.treasure.videoplayer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_t"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ClickPlayActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.AutoPlayActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
